<h1>Is your rectangle a square?</h1>
<h2>If it is, find out its surface area and volume.</h2>

<form action="/result">
<div class="form-group">
  <label for="length">What is the length of your rectangle?</label>
  <input id="length" name="length" class="form-control" type="number">
  <label for="width">What is the width of your rectangle?</label>
  <input id="width" name="width" class="form-control" type="number">
</div>
<button type="submit" class="btn-success">Find your result</button>
</form>
